@{
    ViewBag.Title = "Tracking Maps";
}

<h2>Tracking Maps</h2>

<p>Here you can view your location history on a map.</p>

<div id="map" style=""></div>

@section Scripts {
    <script src="~/js/tracking.js"></script>
}