@using ExFit.Models
@model List<Workout>

    <div>
        <a asp-area="Basic" asp-controller="Workout" asp-action="Upsert" class="btn btn-primary">Log New Workout</a>
    </div>
<table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Goals</th>
            <th>Workouts</th>
            <th>Type</th>
            <th>Weekly Report</th>
           
            <th></th>
        </tr>
    </thead>
@section Scripts{
    <script src="~/js/workout.js"></script>
}

</table>