@{
    ViewBag.Title = "Home";
}

<h2>Empower Fit</h2>

<div>
    <a class="" asp-area="Basic" asp-controller="Workout" asp-action="Index">Workouts</a>
 </div>
<div>
    <a class="" asp-area="Basic" asp-controller="Profile" asp-action="Index">Profile</a>
</div>
<div>
    <a class="" asp-area="Premium" asp-controller="Tracking" asp-action="Index">Tracking</a>
</div>
<div>
    <a class="" asp-area="Basic" asp-controller="SafetyFeatures" asp-action="Index">Safety Features</a>
</div>
<div>
    <a class="" asp-area="Basic" asp-controller="SafetyTips" asp-action="Index">Safety Tips</a>
</div>
<div>
    <a class="" asp-area="Premium" asp-controller="CommunitySupport" asp-action="Index">Community Support</a>
</div>
<div>
    <a class="" asp-area="Basic" asp-controller="PremiumFeatures" asp-action="Index">Premium Features</a>
</div>